<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onLogout()">Logout</button>
            <button id="b" (click)="check()">Check</button>
        </div>
    </nav>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onLogout()">Logout</button>
    <button (click)='info()' [routerLink]="['/studentinfo/']">Info</button>
    <select (change)='select($event)' *ngIf='subject.length>1'>
        <option>None</option>
        <option *ngFor='let i of subject' value={{i}} >{{i}}</option>
    </select>
    <br>
    <p *ngIf='subject.length==1'> {{ subject[0] }} </p>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="container">
                    <img src="assets/images/user_img.png" id="icon" alt="User Icon" />
                </div>
                <div class="container" id="info">
                    <h3>id - {{userDetails.student_id}}</h3>
                    <h3>Name-{{userDetails.Name}}</h3>
                    <h3>Address - Kalwa</h3>
                    <h3>Year - {{userDetails.Year}}</h3>
                    <h3>Division - {{userDetails.Division}}</h3>
                    <h3>Batch - {{userDetails.Batch}}</h3>
                    <h3>Roll No - {{userDetails.Roll_no}}</h3>
                    <h3>Email - {{userDetails.email}}</h3>
                    <h3>Previous Login</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="container">
                <form #codeoutput="ngForm" (ngSubmit)="codesubmit(codeoutput)" *ngIf='experiments!=0'>
                    Language:<select name="language" #language="ngModel" [(ngModel)]="model.language" id='lang'>
                        <option>None</option>
                     <option *ngFor='let i of languages;index as j' value={{j}} >{{i}}</option>
                    </select>
                <!-- Language: <input id="lang" type="text" name="language" #language="ngModel" [(ngModel)]="model.language"> -->
                <!-- Language: <input id="lang" type="text" name="language" #language="ngModel" [(ngModel)]="model.language"> -->
                <br>
                <br>
                Code: <textarea id="code" rows="4" cols="50" name="code" #code="ngModel" [(ngModel)]="model.code"></textarea>
                <br>
                <br>
                Input: <textarea id="input" rows="4" cols="50" name="input" #input="ngModel" [(ngModel)]="model.input"></textarea>
                <br>
                <br>
                <input type="submit" value="Run">
            
            <br>
            Output: <textarea id="output" rows="4" cols="50" name="output" #output="ngModel" [(ngModel)]="model.output"></textarea>
            <br>
            <br>
            Error: <textarea id="error" rows="4" cols="50" name="error" #error="ngModel" [(ngModel)]="model.error"></textarea>
            <br>
            <br>
            Message: <textarea id="message" rows="2" cols="50" name="message" #message="ngModel" [(ngModel)]="model.message"></textarea>
            <br>
            <br>
            Description: <textarea id="description" rows="2" cols="50" name="description" #description="ngModel" [(ngModel)]="model.description"></textarea>
            <br>
            <br>
            <!-- Questions:
            <div *ngFor='let i of questions' name="answer" #answer="ngModel" [(ngModel)]="model.answer">
                <p>{{i}}</p>
                <input type="text">
            </div> -->
        </form>
        <div *ngFor='let i of questions;let ind=index'>
            <p>{{i}}</p>
            <input type="text" id='{{ind}}'>
        </div>
        <button (click)='submit()' *ngIf='experiments!=0'>Submit</button>
            </div>
        </div>
        <div class="col-md-5">
            <h1>Practical Manual</h1>
            <div *ngFor='let i of experiments'>
            <button (click)='open(i)'>{{i["Exp_Name"]}}</button>
            <br>
            <!-- <br> -->
            </div>
            <div id='manual'>
                <!-- <img src="assets/images/document-retention-policy-sample.jpg" alt="Sample Document" id="doc"> -->
                
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-lg btn-primary">Prev</button>
                <button type="button" class="btn btn-lg btn-primary">Next</button>
            </div>
            {{select_exp}}
            {{url}}{{expname}}
            <!-- <iframe *ngIf='select_exp!=0' src="http://docs.google.com/gview?url=https://91a30372.ngrok.io/api/file/EXP5.pdf&embedded=true"
            style="width:400px; height:500px;" frameborder="0"></iframe> -->
            <iframe *ngIf='select_exp!=0' [src]="sanitizer.bypassSecurityTrustResourceUrl(url)"
            style="width:400px; height:500px;" frameborder="0"></iframe>
        </div>
    </div>
    
</div>

<div class="col-md-">
    <div class="container work-page">
        <button class="btn btn-lg upload-btn" (click)="slide()">Upload Experiments</button>
        <div class="container" id="d" style="display:None">
            <h1 class="display-3">Upload Student manual</h1>
            <hr class="my-2">
            <div class="lead custom-file">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->
                <input name="file" (change)="fileChange($event)"  type="file"  >
            </div>
            <p class="lead">
                <button class="btn btn-primary btm-lg input-group-text upload" 
                (click)="upload()" id="btnUpload">
                    Upload
                </button>
            </p>
            Exp_Name:
                    <input id='Exp_Name' placeholder="Exp_Name">
                    <br>
                    <input id='Subject_Name' placeholder="Subject_Name">
                    <button (click)="inc()">+</button>
                    <div id='question'></div>
                    <button (click)="uploadexp()">upload</button>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="container">
        <div class="upload-option">
            <select (change)='selectbatch($event)'>
                <option>None</option>
                <option *ngFor='let i of batches' value={{i}} >{{i}}</option>
            </select>
        </div>
        <div *ngFor="let i of students;index as j">
            <button (click)='save(j)' [routerLink]="['/studentinfo/']">{{i['Name']}}</button>
        </div>
    </div>
</div>