<div class="container-fullwidth main-page">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">DMCE</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/student']">Student </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/teacher']">Teacher </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/timetable']">Timetable </a>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onLogout()">Logout</button>
        </div>
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onLogout()">Logout</button> -->
    </nav>
    <div class="container info-page">
        <router-outlet></router-outlet>
    </div>
</div>