<div class="jumbotron text-center">
    <h1 class="display-3">Upload TimeTable</h1>
</div>
<div class="container role-input">
    <input id='Day' placeholder="Day">
    <br>
    <input id='Time' placeholder="Time">
    <br>
    <input id='Subject_Name' placeholder="Subject_Name">
    <br>
    <input id='Lab' placeholder="Lab">
    <br>
    <input id='Batch' placeholder="Batch">
    <br>
    <input id='Year' placeholder="Year">
    <br>
    <input id='Division' placeholder="Division">
    <br>
    <button class="btn btn-lg" (click)='submit()'>Submit</button>
</div>
