nav{
    background-color: #05386b;
    color: #edf5e1;
    width: 100%;
}
.col-md-5{
    background-color:  #5cdb95;
    max-height: 100%;
}
.col-md-3{
    background-color: #5cdb95;
    padding-top: 25px;
}
.row{
    height: 100%;
}
#icon{
    width: 70%;
    height: 70%;
    margin-left: 25px;
}
#doc{
    width: 100%;
    height: 500px; 
}
#info{
    margin-top: 25px;
}
.container-fluid{
    min-height: 100%;
    overflow: hidden;
}
.col-md-3, .col-md-5{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
#coding{
    min-height: 350px;
    margin-top: 25px;
    background-color: #000033;
    color: #8600b3;
}
#output{
    min-height: 150px;
    margin-top: 15px;
    background-color: #000000;
    color: #ffffff;
}
.buttons{
    margin-top: 30px;
    margin-left: 95px;
}