.main-page{
    background-color: #aaabb8;
    max-width: 100%;
    /* max-height: 100%; */
    overflow: hidden;
    height: 100vh;
}
.row {
    overflow: hidden;
    height: auto;
}
.navbar-expand-sm{
    background-color: #15162e;
}
.navbar-expand-sm .navbar-brand,
.navbar-expand-sm .nav-item .nav-link {
    color: white;
}
.navbar-expand-sm .btn {
    background-color: #15162e;
    color: #2e9cca;
    border: 2px solid #2e9cca;
    font-size: large;
    font-weight: 600;
}
.navbar-expand-sm .btn:hover {
    background-color: #2e9cca;
    color: #15162e;
    font-size: large;
}
.col-md-3 {
    background-color: #25274d;
    min-height: 100%;
    overflow: hidden;
    /* position: absolute; */
}
img {
    width: 80%;
    height: 80%;
    margin-left: 25px;
}
.col-md-3 .details {
    color: white;
}
.col-md-5 {
    height: 700px;
    overflow-y: scroll;
}
.col-md-5::-webkit-scrollbar {
    display: none;
}
.col-md-5 .sub-select {
    margin: 20px;
}
.col-md-5 .sub-select select {
    font-size: 20px;
    background-color: #25254d;
    color: #2e9cca;
    padding: 5px;
}
.col-md-5 .sub-select select option {
    color: #2e9cca;
}
.subs {
    color: #15162e;

}
.col-md-4 {
    background-color: #2e9cca;
    padding: 1em;
    height: 700px;
    overflow: scroll;
}
.col-md-4::-webkit-scrollbar {
    display: none;
}
.col-md-4 .sub-select {
    margin-top: 15px;
}
.col-md-4 .jumbotron {
    min-width: 100%;
    background-color: #29648a;
    color: #aaabb8;
}
.col-md-4 .jumbotron #pracs {
    margin-top: 10px;
}
.col-md-4 .jumbotron .btn {
    margin-bottom: 10px;
}