<!-- <p>
    {{userDetails.student_id}}
</p>
<p>
    {{userDetails.Year}}
</p>
<p>
    {{userDetails.Batch}}
</p>
<p>
    {{userDetails.Roll_no}}
</p>
<input type="button" (click)="onLogout()" value="Logout" /> -->
<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<script>
    //   $("#b").click(function(){
    //   	console.log('in button');
    //     $.ajax({
    //     type: "GET",
    //     url: "localhost:3000/api/file/EXP5.pdf",
    //     dataType: "pdf"
    // }).done(function (res) {
    //     // Your `success` code
    // }).fail(function (jqXHR, textStatus, errorThrown) {
    //     alert("AJAX call failed: " + textStatus + ", " + errorThrown);
    // });
    //   });
    
    </script>
    <!-- <div ng-app="myApp" ng-controller="formCtrl">
    <button id="b" ng-click="reset()">Check</button>
    </div> -->
<div class="container-fullwidth main-page">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">DMCE</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/studentprofile/']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)='info()' [routerLink]="['/studentinfo/']">Info</a>
                </li>
            </ul>
            <button class="btn my-2 my-sm-0" type="button" (click)="onLogout()">Logout</button>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="container text-container user-img">
                    <img src="assets/images/user_img.png" id="icon" alt="User Icon" />
                </div>
                <div class="container details">
                    <h3>id - {{userDetails.student_id}}</h3>
                    <h3>Name-{{userDetails.Name}}</h3>
                    <h3>Year - {{userDetails.Year}}</h3>
                    <h3>Division - {{userDetails.Division}}</h3>
                    <h3>Batch - {{userDetails.Batch}}</h3>
                    <h3>Roll No - {{userDetails.Roll_no}}</h3>
                    <h3>Email - {{userDetails.email}}</h3>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container sub-select">
                    <select (change)='select($event)' *ngIf='subject.length>1'>
                        <option disabled selected value="">Select Subject</option>
                        <option *ngFor='let i of subject' value={{i}} >{{i}}</option>
                    </select>
                    <h4 class="subs" *ngIf='subject.length==1'>Subject - {{ subject[0] }} </h4>
                </div>
                <form #codeoutput="ngForm" (ngSubmit)="codesubmit(codeoutput)">
                    <div class="form-group">
                        <select class="form-control" name="language" #language="ngModel" [(ngModel)]="model.language" id='lang'>
                            <option disabled selected value="">Select Language</option>
                            <option *ngFor='let i of languages;index as j' value={{j}} >{{i}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="code">Code</label>
                        <textarea class="form-control" id="code" rows="6" style="background-color: #15162e; color: aliceblue;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input">Input</label>
                        <textarea class="form-control" id="input" rows="4" style="background-color: #15162e; color: aliceblue;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="output">Output</label>
                        <textarea class="form-control" id="output" rows="4" style="background-color: #15162e; color: aliceblue;"></textarea>
                    </div>
                    <input type="submit" value="Run" class="btn btn-primary">
                    <div class="form-group">
                        <label for="error">Error</label>
                        <textarea class="form-control" id="error" rows="3" style="background-color: #15162e; color: aliceblue;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="3" style="background-color: #15162e; color: aliceblue;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" style="background-color: #15162e; color: aliceblue;"></textarea>
                    </div>
                </form>
                <div class="container questions">
                    <h1>Questions</h1>
                    <div *ngFor='let i of questions;let ind=index'>
                        <h5>{{i}}</h5>
                        <!-- <input style="background-color: #15162e; color: aliceblue;" type="text" id='{{ind}}'> -->
                        <textarea cols="80" rows="2" style="background-color: #15162e; color: aliceblue;" id='{{ind}}'></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary" (click)='submit()' *ngIf='experiments!=0' style="margin-top: 15px;">Submit</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-5" id="pracs">Practical Manual</h1>
                        <hr class="my-4">
                        <div class="lead" *ngFor='let i of experiments'>
                            <button class=" btn btn-lg btn-dark" (click)='open(i)'>{{i["Exp_Name"]}}</button>
                            <br>
                        </div>
                        <br><br>
                        <div id="manual"></div>
                        <!-- <p class="lead">{{select_exp}}</p>
                        <p class="lead">{{url}}{{expname}}</p> -->
                        <iframe class="lead" *ngIf='select_exp!=0' [src]="sanitizer.bypassSecurityTrustResourceUrl(url)"
                        style="width:450px; height:500px;" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>