<div class="container work-page">
    <div class="container selections">
        <div class="upload-option">
            <select (change)='selectclass($event)'>
                <option disabled selected value="">Select class</option>
                <option *ngFor='let i of class' value={{i}} >{{i}}</option>
            </select>
        </div>
        <div class="upload-option">
            <select (change)='selectsubject($event)'>
                <option disabled selected value="">Select subject</option>
                <option *ngFor='let i of allsubject' value={{i}} >{{i}}</option>
            </select>
        </div>
    </div>
    <div class="container exp-details">
        <div *ngFor='let i of exp;index as j'>
            <button class="btn btn-lg" id='btn' (click)='slide(j)'>{{i}}</button> 
            <div id='{{j}}' style="display: none;">
            <div class="container">
                <h2 *ngFor='let k of complete[j];index as x' >batch{{x+1}} {{ k }}/{{batches[x]}}</h2>
            </div>
            </div>
        </div> 
    </div>           
</div>
    