<div class="row">
    <div class="col-md-5">
        <div class="container work-page">
            <button class="btn btn-lg upload-btn" (click)="slide()">Upload Experiments</button>
            <div class="jumbotron" id="d" style="display:None">
                <h1 class="display-5">Student manual</h1>
                <hr class="my-2">
                <div class="lead custom-file">
                    <input name="file" (change)="fileChange($event)" type="file">
                </div>
                <p class="lead">
                    <button class="btn btn-lg input-group-text upload" 
                    (click)="upload()" id="btnUpload">
                        Upload
                    </button>
                </p>
                <div class="lead exps">
                    <h1>Exp Name:</h1>
                    <input id='Exp_Name' placeholder="Exp_Name">
                    <br>
                    <input id='Subject_Name' placeholder="Subject_Name">
                    <button style="margin-left: 10px; height: 35px;" class="btn btn-dark" (click)="inc()">+</button>
                    <div id='question'></div>
                    <input id='Submission_date' placeholder="Submission_date">
                    <button class="btn btn-lg" (click)="uploadexp()">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="upload-option">
                <select (change)='selectbatch($event)'>
                    <option disabled selected value="">Select student</option>
                    <option *ngFor='let i of batches' value={{i}} >{{i}}</option>
                </select>
            </div>
            <div class="conatiner stud-list">
                <div *ngFor="let i of students;index as j">
                    <button class="btn btn-lg"
                    (click)='save(j)' [routerLink]="['/studentinfo/']">
                        {{i['Name']}}  {{com[j]}}/{{totalexp}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>