<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
        <img src="assets/images/user_img.png" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form #loginForm='ngForm' (ngSubmit)="onSubmit(loginForm)">
            <input #username="ngModel" [(ngModel)]="userService.selectedUSer.username" type="text" id="login" class="fadeIn second" name="login" placeholder="Username" required>
            <input #password="ngModel" [(ngModel)]="userService.selectedUSer.password" type="password" id="password" class="fadeIn third" name="login" placeholder="Password" required>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Signup account for new user -->
        <div id="formFooter">
        <a class="underlineHover" routerLink="/signup">New Account?Signup</a>
        </div>
    
    </div>
</div>