/* You can add global styles to this file, and also import other style files */
/* html {
    background-color: aqua;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  } */
*/
html, body{
  min-height: 100%;
  margin: 0;
  padding: 0;
}